ol {
    color: white;
}

ul {
    color: white;
}

li a {
    color: white;
    position: center;
    font-family: "Georgia", serif;
}

.title h1 {
    color: white;
    position: center;
    font-family: "Georgia", serif;
}

.title p {
    color: white;
    position: center;
    font-family: "Courier New", monospace;
    font-style: italic;
}

body {
    background: white url("images/background.gif") no-repeat right bottom;
/*    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;*/
    background-size: cover;
    max-width: 100%;
    max-height: 100%;
}